In [110]:
import pandas as pd
import pyarrow.parquet as pq
import parquet
import os

In [111]:
HOME = os.path.expanduser('~')
DATALAKE_ROOT_FOLDER = HOME + "/airflow/"
PATH = DATALAKE_ROOT_FOLDER + "usage/movieAnalysis/MovieStatistics/20220619/res.snappy.parquet/"
#PATH2 = DATALAKE_ROOT_FOLDER + "formatted/source2/imdb/MovieRatings/20220619/title.ratings.snappy.parquet"

In [112]:
datasource1 = pq.read_table(source=PATH).to_pandas()
datasource1

   avg_rating  max_rating  min_rating  count_rating
0    6.917925        10.0         1.0       1254722

In [107]:
datasource2.describe()

       averageRating      numVotes
count   1.254722e+06  1.254722e+06
mean    6.917925e+00  9.981803e+02
std     1.389541e+00  1.677904e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.400000e+01
75%     7.900000e+00  9.400000e+01
max     1.000000e+01  2.599009e+06

In [101]:
PATH1 = DATALAKE_ROOT_FOLDER + "formatted/source1/20220619/dataSource1/"
datasource1 = pq.read_table(source=PATH1).to_pandas()